{% extends 'base.html' %} {% block title %}Home{% endblock %} {% load static %}
{% load custom_filters %}
{% block content %}


<section class="relative sm:mx-12 mx-2">
  <div class="relative shadow-none bg-primary sm:flex block">
    <div class="relative overflow-hidden sm:w-3/4 mt-3 sm:mr-2 sm:mx-10">
      <h5 class="mb-3 text-xl font-bold text-start text-wrap text-dark mt-4">
        Latest News
      </h5>

      <div class="relative w-full">
        <!-- Slides -->
        <div class="overflow-hidden">
          <ul
            class="relative w-full overflow-hidden p-0 whitespace-no-wrap grid sm:grid-cols-3 gap-2"
          >
          {% if posts %}
          {% for post in posts %}
            <li class="mt-6">
              <img
                src="{{post.image.url}}"
                class="w-full max-w-full h-[150px] m-auto object-cover"
              />
              <p><em> {{post.publish|date:'F j Y'}} </em></p>
              <a
                href="{{post.get_absolute_url}}"
                class="text-start text-xl text-secondary mb-2 text-wrap font-bold hover:underline"
              >
                {{post.title|titlecase}}
              </a>
              <p
                class="text-thin text-sm text-start text-wrap text-gray font-Roboto"
              >
                {{ post.body|safe|truncatewords:20 }}
              </p>
              <a
                href="{{post.get_absolute_url}}"
                class="text-start text-md text-blue-600 mb-2 text-wrap font-bold hover:underline"
              >
                learn More
              </a>
            </li>
            {% endfor %}
            {% else %}
            <p>No posts</p>
            {% endif %}            
          </ul>

          {% include 'includes/pagination.html' %}

        </div>
        <!-- Controls -->
      </div>
    </div>

    <div class="sm:w-1/4 block sm:mr-6 sm:mx-10">
    <h5 class="mb-3 text-xl font-bold text-start text-wrap text-gray-800 mt-4">
        Categories
    </h5>

    <div class="mb-2 lg:mb-0 mt-6">
        {% for category in categories %}
            <a href="{% url 'posts_by_category' category.slug %}" class="hover:underline">
                <h5 class="mb-3 text-lg font-bold text-start text-wrap text-gray-600">
                    {{ category.name }}
                </h5>
            </a>
        {% endfor %}
    </div>
</div>

  </div>
</section>


{% endblock %}
