{% extends 'base.html' %} {% block title %}Home{% endblock %} {% load static %}
{% block content %}


<section class="relative sm:mx-12 mx-2">
  <div class="relative shadow-none bg-primary sm:flex block">
    <div class="relative overflow-hidden sm:w-3/4 mt-3 sm:mr-2 sm:mx-10">
      <h5 class="mb-3 text-xl font-bold text-start text-wrap text-dark mt-4">
        Latest News
      </h5>

      <div class="relative w-full">
        <!-- Slides -->
        <div class="overflow-hidden">
          <ul
            class="relative w-full overflow-hidden p-0 whitespace-no-wrap grid sm:grid-cols-3 gap-2"
          >
            <li class="mt-6">
              <img
                src="{% static 'images/p1.png' %}"
                class="w-full max-w-full h-[150px] m-auto object-cover"
              />

              <a
                href="{% url 'detail' %}"
                class="text-start text-xl text-secondary mb-2 text-wrap font-bold hover:underline"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </a>
              <p
                class="text-thin text-sm text-start text-wrap text-gray font-Roboto"
              >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
                est dolore ut impedit, sunt tempora animi autem sequi, nisi ab
                quo dolores iure modi, qui molestias. Ipsa accusamus et ut.
              </p>
              <a
                href="#"
                class="text-start text-md text-blue-600 mb-2 text-wrap font-bold hover:underline"
              >
                learn More
              </a>
            </li>
            <li class="mt-6">
              <img
                src="{% static 'images/p1.png' %}"
                class="w-full max-w-full h-[150px] m-auto object-cover"
              />

              <a
                href="{% url 'detail' %}"
                class="text-start text-xl text-secondary mb-2 text-wrap font-bold hover:underline"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </a>
              <p
                class="text-thin text-sm text-start text-wrap text-gray font-Roboto"
              >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
                est dolore ut impedit, sunt tempora animi autem sequi, nisi ab
                quo dolores iure modi, qui molestias. Ipsa accusamus et ut.
              </p>
              <a
                href="#"
                class="text-start text-md text-blue-600 mb-2 text-wrap font-bold hover:underline"
              >
                learn More
              </a>
            </li>
            <li class="mt-6">
              <img
                src="{% static 'images/p1.png' %}"
                class="w-full max-w-full h-[150px] m-auto object-cover"
              />

              <a
                href="#"
                class="text-start text-xl text-secondary mb-2 text-wrap font-bold hover:underline"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </a>
              <p
                class="text-thin text-sm text-start text-wrap text-gray font-Roboto"
              >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
                est dolore ut impedit, sunt tempora animi autem sequi, nisi ab
                quo dolores iure modi, qui molestias. Ipsa accusamus et ut.
              </p>
              <a
                href="#"
                class="text-start text-md text-blue-600 mb-2 text-wrap font-bold hover:underline"
              >
                learn More
              </a>
            </li>
            <li class="mt-6">
              <img
                src="{% static 'images/p1.png' %}"
                class="w-full max-w-full h-[150px] m-auto object-cover"
              />

              <a
                href="#"
                class="text-start text-xl text-secondary mb-2 text-wrap font-bold hover:underline"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </a>
              <p
                class="text-thin text-sm text-start text-wrap text-gray font-Roboto"
              >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
                est dolore ut impedit, sunt tempora animi autem sequi, nisi ab
                quo dolores iure modi, qui molestias. Ipsa accusamus et ut.
              </p>
              <a
                href="#"
                class="text-start text-md text-blue-600 mb-2 text-wrap font-bold hover:underline"
              >
                learn More
              </a>
            </li>
            <li class="mt-6">
              <img
                src="{% static 'images/p1.png' %}"
                class="w-full max-w-full h-[150px] m-auto object-cover"
              />

              <a
                href="#"
                class="text-start text-xl text-secondary mb-2 text-wrap font-bold hover:underline"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </a>
              <p
                class="text-thin text-sm text-start text-wrap text-gray font-Roboto"
              >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
                est dolore ut impedit, sunt tempora animi autem sequi, nisi ab
                quo dolores iure modi, qui molestias. Ipsa accusamus et ut.
              </p>
              <a
                href="#"
                class="text-start text-md text-blue-600 mb-2 text-wrap font-bold hover:underline"
              >
                learn More
              </a>
            </li>
          </ul>
        </div>
        <!-- Controls -->
      </div>
    </div>

    <div class="sm:w-1/4 block sm:mr-6 sm:mx-10">
      <h5
        class="mb-3 text-xl font-bold text-start text-wrap text-gray-800 mt-4"
      >
        Categories
      </h5>

      <div class="mb-2 lg:mb-0 mt-6">
        <a href="{% url 'category' %}" class="hover:underline">
          <h5 class="mb-3 text-lg font-bold text-start text-wrap text-gray-600">
            Django
          </h5>
        </a>
        <a href="#" class="hover:underline">
          <h5 class="mb-3 text-lg font-bold text-start text-wrap text-gray-600">
            Java
          </h5>
          <a href="#" class="hover:underline">
            <h5
              class="mb-3 text-lg font-bold text-start text-wrap text-gray-600"
            >
              HTML
            </h5>
          </a>
        </a>
      </div>
    </div>
  </div>
</section>

<!--pagination-->
<div class="flex items-center gap-4 relative sm:mx-12 mx-6 mt-6 mb-6">
  <button
    class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-full select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    type="button"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      aria-hidden="true"
      class="w-4 h-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
      ></path>
    </svg>
    Previous
  </button>
  <div class="flex items-center gap-2">
    <button
      class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <span
        class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        1
      </span>
    </button>
    <button
      class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <span
        class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        2
      </span>
    </button>
    <button
      class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-full bg-gray-900 text-center align-middle font-sans text-xs font-medium uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <span
        class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        3
      </span>
    </button>
    <button
      class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <span
        class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        4
      </span>
    </button>
    <button
      class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <span
        class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        5
      </span>
    </button>
  </div>
  <button
    class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-full select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    type="button"
  >
    Next
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      aria-hidden="true"
      class="w-4 h-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
      ></path>
    </svg>
  </button>
</div>
{% endblock %}
