{% load static %}
<div
  class="sticky top-0 z-50 w-full bg-white flex items-center justify-between sm:px-10"
>
  <div class="hidden sm:flex">
    <a href="{% url 'home' %}" class="text-2xl"
      >SnipherDev
      <span class="text-green-800 text-3xl italic font-bold">Logo</span>
    </a>
  </div>
  <div>
    <form
    method="get"
    action="{% url 'post_search' %}"
      class="mt-10 mx-auto max-w-xl py-2 px-6 rounded-full bg-gray-50 border flex focus-within:border-gray-300"
    >
      <input
        
        placeholder="Search anything"
        class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
        type="search"
        name="query"
      /><button
        class="flex flex-row items-center justify-center min-w-[130px] px-4 rounded-full border disabled:cursor-not-allowed disabled:opacity-50 transition ease-in-out duration-150 text-base bg-black text-white font-medium tracking-wide border-transparent py-1.5 h-[38px] -mr-3"
      >
        Search
      </button>
    </form>
  </div>
</div>